/*意见反馈*/
.feedback {
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  width: 240px; 
}

.feedback .tel {
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  padding-right: 20px;
}

.feedback .tel_img {
  display: block;
  float: left; 
}
