@import "./mixin.scss";

.humres{
	.mint-button--small{
		height:25px;
		font-size:10px;
	}
.mint-button--danger.is-plain{
	border: 1px solid $orangeBackground;
    color: $orangeBackground;
	}
}
.font_color{
	.mint-cell-text{
		color:$fontBlue;
		padding:0;
	}
};